<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/public/styles.css">
  
  <title>URL Shortener</title>
</head>
<body>
  <header>
    <h1>URL Shortener</h1>
  </header>
  <main>
    <div class="container">
      <h2>Enter a URL below to get a short url!</h2>
      <form id="data-form" action="">
        <input id="data-input" type="url" placeholder="https://google.com" />
        <input type="submit" value="Get Short URL"/>
      </form>
      <div id="data-shorturl">Short url</div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="/public/script.js"></script>
</body>
</html>